.center {
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

ion-content{
  --background: #043724;
}

.fade-in {
  -webkit-animation: fade-in 1s linear both;
  animation: fade-in 1s linear both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
